<!DOCTYPE html>
<!--html manifest="/application.manifest"-->
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag src="https://code.getmdl.io/1.1.3/material.min.js" %>
    <%= stylesheet_link_tag href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css" %>
    <!-- Material Design icon font -->
    <%= stylesheet_link_tag href="https://fonts.googleapis.com/icon?family=Material+Icons" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
